@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
$brandpositive: #53c9bd;
$brandnegative: #ff632b;
$brandsunshine: #f7b733;

.btn-primary{
    background-color: $brandsunshine;
    border-color: darken($brandsunshine, 15%);
    &:hover{
        background-color: darken($brandsunshine, 15%);
        border-color: darken($brandsunshine, 30%);
    }
}
.btn-secondary {
    border-radius: 15px;
    /* width: 30px; */
    padding: 4px 0 0;
    min-width: 30px;
    min-height: 30px;
}
.btn{
    i{
        position: relative;
        
        &.fa-plus{
            top:-1px;
        }
        &.fa-floppy-o{
            top:-2px;
        }
        &.fa-pencil,&.fa-times{
            top: -2px;
        }
    }
}
span.brand {
    position: relative;
    top: 2px;
}
h4 {
    margin-top: 8px;
    font-size: 110%;
    float: left;
}
//#app{
body{
    
    font-family:'Fira Sans', sans-serif;
}
    textarea,
    input,
    select {
      margin: 0;
      vertical-align: bottom; //fixes weird spacing beneath these elements
    }
   textarea {
        resize: none;
        overflow: hidden;
    } 
    input, button, textarea, .form-control {
        border-radius: 15px;
        border:2px solid darkgrey;
        
        
        &:focus{
            outline:0;
            border: 2px solid black;
        }
    }
    
    input,textarea,button{
        font-family:'Fira Sans', sans-serif;
    }
    #builder{
        min-height: 200px;
        display:block;    
        float: left;
        width: 100%;
        aside:first-child{
            margin-top: 3px;
        }
        .comment textarea{
            width: calc(100% - 64px);
        }
    }
    .comment{
        float: left;
        width: 100%;
        margin-bottom: 2px;
        &.being-edited,&.being-edited.constructive,&.being-edited.positive{
            textarea{
                background-color: $brandsunshine;
            }
        }
        &.being-edited.constructive{
            textarea{
                border:2px solid $brandnegative;
            }
        }
        &.being-edited.positive{
            textarea{
                border:2px solid $brandpositive;
            }
        }
        textarea{
            width: calc(100% - 96px);
            height:28px;
            font-size:14px;
            -moz-transition: .2s all ease-in;
            -o-transition: .2s all ease-in;
            -webkit-transition: .2s all ease-in;
            transition: .2s all ease-in;
            &:read-only{
                background-color:lightgrey;
            }
        }
        &.highlighted textarea{
            border:2px solid black;
        }
        &.positive {
            textarea{
                background-color:$brandpositive;
            }
            .add-to-builder.positive{
                border:2px solid black;
            }
        }
        &.constructive {
            textarea{
                background-color:$brandnegative;
            }
            .add-to-builder.constructive{
                border:2px solid black;
            }
        }
        button{
            width:28px;
            height:28px;
        }
    }
    /*
    .comment span{
        display:inline-block;
        max-width:60%;
        float:left;
    }
    */
    #pasta-popup{
        width:800px;
        height:400px;
    }
    #pasta{
        height:400px;
        font-size:16px;
    }
    section.column{
        width:48%;
        float:left;
    }
    .add-to-builder, .remove-from-builder, .edit-comment, .delete-comment, .save-changes{
        float:right;
        //border:0 none;
        font-size:18px;
        margin:1px;
    }
    .edit-comment{
        //padding-top:0;
    }
    .delete-comment{
        background-color: $brandsunshine;
    }
    .save-changes{
        background-color: $brandsunshine;
    }
    .delete-comment,.save-changes{
        display:none;
        //color:white;
    }
    .add-to-builder.positive{
        background-color:$brandpositive;
        //border:2px solid $brandpositive;
        padding:0;
        float:left;
    }
    .add-to-builder.constructive{
        background-color:$brandnegative;
        //border:2px solid $brandnegative;
        padding:0;
    }
    .copylink{
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
    }
    input[type=text],textarea{
        margin-top:1px;
        padding: 2px 15px;
        height:30px;
    }
    input.main-input{
        font-size:16px;
        width: calc(100% - 30px);
        float:left;
        margin-bottom: 2px;
    }
//}