@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.btn-primary {
  background-color: #f7b733;
  border-color: #d59208; }
  .btn-primary:hover {
    background-color: #d59208;
    border-color: #8c6005; }

.btn-secondary {
  border-radius: 15px;
  /* width: 30px; */
  padding: 4px 0 0;
  min-width: 30px;
  min-height: 30px; }

.btn i {
  position: relative; }
  .btn i.fa-plus {
    top: -1px; }
  .btn i.fa-floppy-o {
    top: -2px; }
  .btn i.fa-pencil, .btn i.fa-times {
    top: -2px; }

span.brand {
  position: relative;
  top: 2px; }

h4 {
  margin-top: 8px;
  font-size: 110%;
  float: left; }

body {
  font-family: 'Fira Sans', sans-serif; }

textarea,
input,
select {
  margin: 0;
  vertical-align: bottom; }

textarea {
  resize: none;
  overflow: hidden; }

input, button, textarea, .form-control {
  border-radius: 15px;
  border: 2px solid darkgrey; }
  input:focus, button:focus, textarea:focus, .form-control:focus {
    outline: 0;
    border: 2px solid black; }

input, textarea, button {
  font-family: 'Fira Sans', sans-serif; }

#builder {
  min-height: 200px;
  display: block;
  float: left;
  width: 100%; }
  #builder aside:first-child {
    margin-top: 3px; }
  #builder .comment textarea {
    width: calc(100% - 64px); }

.comment {
  float: left;
  width: 100%;
  margin-bottom: 2px; }
  .comment.being-edited textarea, .comment.being-edited.constructive textarea, .comment.being-edited.positive textarea {
    background-color: #f7b733; }
  .comment.being-edited.constructive textarea {
    border: 2px solid #ff632b; }
  .comment.being-edited.positive textarea {
    border: 2px solid #53c9bd; }
  .comment textarea {
    width: calc(100% - 96px);
    height: 28px;
    font-size: 14px;
    -moz-transition: .2s all ease-in;
    -o-transition: .2s all ease-in;
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in; }
    .comment textarea:read-only {
      background-color: lightgrey; }
  .comment.highlighted textarea {
    border: 2px solid black; }
  .comment.positive textarea {
    background-color: #53c9bd; }
  .comment.positive .add-to-builder.positive {
    border: 2px solid black; }
  .comment.constructive textarea {
    background-color: #ff632b; }
  .comment.constructive .add-to-builder.constructive {
    border: 2px solid black; }
  .comment button {
    width: 28px;
    height: 28px; }

/*
.comment span{
    display:inline-block;
    max-width:60%;
    float:left;
}
*/
#pasta-popup {
  width: 800px;
  height: 400px; }

#pasta {
  height: 400px;
  font-size: 16px; }

section.column {
  width: 48%;
  float: left; }

.add-to-builder, .remove-from-builder, .edit-comment, .delete-comment, .save-changes {
  float: right;
  font-size: 18px;
  margin: 1px; }

.delete-comment {
  background-color: #f7b733; }

.save-changes {
  background-color: #f7b733; }

.delete-comment, .save-changes {
  display: none; }

.add-to-builder.positive {
  background-color: #53c9bd;
  padding: 0;
  float: left; }

.add-to-builder.constructive {
  background-color: #ff632b;
  padding: 0; }

.copylink {
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out; }

input[type=text], textarea {
  margin-top: 1px;
  padding: 2px 15px;
  height: 30px; }

input.main-input {
  font-size: 16px;
  width: calc(100% - 30px);
  float: left;
  margin-bottom: 2px; }

/*# sourceMappingURL=comment.css.map */
