body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #e6e2eb;/*rgba(86,61,124,.15);
  /*border: 1px solid rgba(86,61,124,.2);*/
}

label.control-label{
    text-align:right;
    padding-right:0;
}
input.form-control{
    padding: 2px 15px;
    height: 30px;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}